@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EFF2F8; /* Fundo da página */
    color: #333; /* Cor do texto */
}

header {
    width: 100%;
    background-color: #1C69AD; /* Cor do cabeçalho */
    color: #b9d6f0; /* Cor do texto no cabeçalho */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0; /* Remove margens do título */
}

main {
    width: 100vw; 
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.card {
    width: 100%;
    background-color: #fff; /* Cor de fundo das cartas */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0px 4px 20px rgba(76, 129, 176, 0.2); /* Sombra das cartas */
    width: 90%; /* Largura da carta */
    max-width: 400px; /* Largura máxima */
    margin: 15px; /* Margem entre cartas */
    padding: 20px; /* Padding interno */
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    color: #1C69AD; /* Cor do título da carta */
    font-weight: 600; /* Peso da fonte do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.card-text {
    color: #666; /* Cor do texto da carta */
    margin-bottom: 20px; /* Aumentado para maior espaçamento */
    text-align: center; /* Centraliza o texto */
}

.btn {
    background-color: #418fd3; /* Cor do botão */
    color: #b9d6f0; /* Cor do texto do botão */
    padding: 10px 15px; /* Diminuído o padding do botão */
    border: none; /* Remove bordas do botão */
    border-radius: 20px; /* Bordas arredondadas do botão */
    cursor: pointer; /* Cursor pointer */
    text-transform: uppercase; /* Texto em maiúsculas */
    font-weight: 700; /* Peso da fonte */
    transition: background-color 0.3s; /* Transição para hover */
    margin-bottom: 15px; /* Aumenta o espaçamento entre os botões */
}

.btn:hover {
    background-color: #1C69AD; /* Cor do botão ao passar o mouse */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1C69AD; /* Cor do rodapé */
    color: #b9d6f0; /* Cor do texto do rodapé */
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .card {
        width: 95%; /* Largura da carta em telas pequenas */
    }
}
